body{
  font-family: 'Cairo', sans-serif;
  color:#2F606A;
  background-color: #EFEFEF;
}

.topnav {
  margin-inline-start: 55vw;
  text-align: center;
  position:fixed;
  width: fit-content;
  position: fixed;
  margin-top:-3vh;
}
.topnav h1{
  float: right;
}
.topnav__menu {
  width: fit-content;
  margin-block-start: 2vw;
  margin-inline-start: 2vw;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:hover {background-color: #ddd;}

.topnav__menu:hover .dropdown-content {display: block;}

.topnav__menu:hover .dropdown-menu {background-color: #2F606A;}

.about{
  margin: 10vh;
  background-color: #D9D4D3;
  
}
.about h2, p{
  text-align: end;
}
.about h2{
  padding: 1.5vh 8vw;

}
.about p{
  padding:0px 8vw 13vh 8vw;
}
.video video{
  padding: 0vh 24.5vw;
}

.courses{
  margin-top: 12vh;
  width: 75vw;
}
.section__courses{
  /* width: 81vw; */
  float: right;
  margin-right: 10vh 10vw;
}
section svg{
  float: right;
  padding-inline-end: 2vw;

}
section a{
  float: right;
  padding-inline-end: 2vw;
  padding-block-start: 7vh;
  font-weight: lighter;
  text-decoration: none;
  color: #2F606A;
}
.contact_form{
  width: 98vw;
  margin-top:33vh;
}
form input{
  width:40%;
  margin-inline-start: 26vw;
  height:6vh;  
}
form h2{
  width:40%;
  margin-top:36vh;
  margin-inline-start: 42vw;
  justify-content: center;
}
textarea{
  height:12vh;  
  width:40%;
  margin-top:8vh;
  margin-inline-start: 26vw;

}
button{
  margin-top: 6vh;
  display: block;
  margin-inline-start: 38vw;
  background-color: #2F606A;
  color:white;
  padding:3vh 7vw;
  border-radius: 7em;
}
footer{
  margin: 10vh 0px 0px 0px;
  text-align: center;
  background-color: #D9D4D3;
}
footer img, svg{
  padding:12px 10px;
}